<%- include('partials/header') %>

<main>
    <div class="container">
        <h2>Log in</h2>
        <form action="/login" method="POST">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
                <label for="floatingInput">Email address</label>
              </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn btn-success">Log in</button>
        </form>
    </div>
</main>



<%- include('partials/footer') %>