<%- include('partials/header') %>


<main class="container form-container">
    <div class="form">
        <h2>Hi There! Do you know the secret Passcode?</h2>
        <form action="/secret" method="POST">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="secret passcode" name="secret" required>
                <label for="floatingInput">Secret Passcode</label>
              </div>
              <button type="submit" class="btn btn-primary">Enter Passcode</button>
        </form>
        <div style="color:red">
            <% if(msg) { %>
                <p><%= msg %></p>
                <a href="/"><button class="btn btn-danger">Go Back</button></a>
            <% } %>
        </div>
    </div>
    
</main>


<%- include('partials/footer') %>