<%- include('partials/header') %>

<main class="container">
    <form action="/sign-up" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Juan Dela Cruz" name="fullName">
            <label for="floatingInput">Full Name</label>
          </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheck" name="admin" value="true">
            <label class="form-check-label" for="flexCheck">
              Are you an admin?
            </label>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
      

</main>



<%- include('partials/footer') %>